.intro__screenshot {
  visibility: hidden;
  position: absolute;
  top: -2em;
  right: 0;
  z-index: -1;
  animation: swoosh 3500ms linear both;
  animation-delay: 1s;

  @include respond-to(tablet){
    visibility: visible;
  }
}

.article__content img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 1em auto;
}